*{
    border: 0;
    box-sizing: border-box;
}
body{
    /* background: conic-gradient(at top right, lightcyan, lightblue); */
    background-color: turquoise;
}
.logo{
    color: white;
}
.gymlogo{
    background-color: black;
    border-radius: 100%;
    height: 80px;
}
.navBar{
    z-index: 9999;
    position: sticky;
    top: 0;
    padding: 3%;
    /* border: 1px solid black; */
    background-color: rgb(0, 0, 0);
    /* background:conic-gradient(from 90deg at 50% 0%, #111, 50%, #222, #111); */
    background: linear-gradient(to left, #01063d, black);
    box-shadow: 0px 0px 10px #fff5f5;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gymlogo{
    background-color: black;
    border-radius: 100%;
    height: 65px;
}
.gymlogo:hover{
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent,rgba(0,0,0,.2));
}
#navcont1 a{
    text-decoration: none;
    margin-left: 10px;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: large;
    color: #93b3c9;
}
#navcont1 a:hover{
    scroll-behavior: smooth;
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
}
#navButton{
    font-family: 'Bacasime Antique', serif;
    border: 4px solid black;
    font-weight: bold;
    border-color: gray;
    color: #93b3c9;
    background: linear-gradient(to left,black,#01063d);
    border-radius: 8px;
    padding: 10px;
    width:100%;
}
#navButton:hover{
    scale: 1.2;
}
.waviy {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  }
  .waviy span {
    position: relative;
    display: inline-block;
    /* color: #fff; */
    text-transform: uppercase;
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));
  }
  @keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  }
  .wave:hover span {
    position: relative;
    display: inline-block;
    /* color: #fff; */
    text-transform: uppercase;
    animation: waviy 1s infinite;
    animation-delay: calc(.1s * var(--i));
  }
  @keyframes wave {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
  }
.cancel{
    display: none;
}
#hamburger:focus .ham{
    display: none;
}
#hamburger:focus .cancel{
    display: block;
    color: red;
}
.ham .cancel:focus{
    display: block;
}
.dropdown-ul{
    height: 40vh;
}
.dropdownButton{
    margin-bottom: 20%;
    width: 100%;
    background-color: red;
}
.dropdownButton a{
    text-decoration: none;
    color: black;
}
#heroSection{
    padding: 0;
    height: 80.28vh;
    margin-bottom: 1%;
}
.tt img{
    height: 80vh;
    /* min-width: 100%;
    object-fit: fill; */
}
.motivation{
    position: relative;
    /* display: inline-block; */
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
}
.back-to-top {
    position: fixed;
    width: 4%;
    height: 40px;
    /* display: none; */
    right: 30px;
    bottom: 30px;
    z-index: 11;
    -webkit-animation: action 1s infinite alternate;
    animation: action 1s infinite alternate;
}
@-webkit-keyframes action {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-15px);
    }
}
@keyframes action {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-15px);
    }
}
#inclusiveClasses{
    margin-bottom: 2%;
}
.prices{
    margin-top: 1%;
    margin-bottom: 2%;
}
.prize{
    padding: 0;
    border-radius: 8px;
    margin-top: 2%;
    width: 18rem;
    /* width: 80%; */
    /* border: 2px solid  white; */
    box-shadow: 0px 0px 0px 10px white;
    background-color: #2a2c2b;
}
.prize p:nth-child(1){
    text-align: center; 
    font-weight: bold; 
    font-size: 1.2rem; 
    color: white;
}
.prize p:nth-child(2){
    font-weight: normal; 
    font-size: 1rem; 
    text-align: center; 
    color: white;
}
/* .familyContainer:hover .familyImage{
    opacity: 0.2;
}
.familyContent{
    display: none;
    position: relative;
    top: -220px;
}
.familyContainer:hover .familyContent{
    display: block;
    scale: 1.2;
}
.starterContainer:hover .starterImage{
    opacity: 0.2;
}
.starterContent{
    display: none;
    position: relative;
    top: -220px;
}
.starterContainer:hover .starterContent{
    display: block;
    scale: 1.2;
}
.primeContainer:hover .primeImage{
    opacity: 0.2;
}
.primeContent{
    display: none;
    position: relative;
    top: -220px;
}
.primeContainer:hover .primeContent{
    display: block;
    scale: 1.2;
}
.royalContainer:hover .royalImage{
    opacity: 0.2;
}
.royalContent{
    display: none;
    position: relative;
    top: -220px;
}
.royalContainer:hover .royalContent{
    display: block;
    scale: 1.2;
}
.primeImage{
    width: 100%;
    height: 100%;
}
.royalImage{
    width: 100%;
    height: 100%; 
}
.starterImage{
    width: 100%;
    height: 100%; 
}
.familyImage{
    width: 100%;
    height: 100%;
} */
footer1{
    background-color: rgba(12, 91, 209, 0.872);
    height: 5vh;
    
}
/* .footer{
    border: 1px solid red;
    background-color: #38444d;
    height: 60vh;
} */
.footer2{
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
    height: 60vh;
}
.footer{
    /* background: #636369; */
    background: linear-gradient(to left, #01063d, black);
    margin-top: 50px;
}
.servix{
    color: #fff;
    margin: 20px;
    
}
.servix a{
    text-decoration: none;
    color: #fff; 
}
.work-hours{
    color: #fff;
    margin: 20px;
}
.address{
    color: #fff;
    margin: 20px;
}
.contact{
    color: #fff;
    margin: 20px;
}
form h5{
    color: #93b3c9;
    margin: 20px;
    margin-right: 50px;
}
.submit{
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    font-size: 18px;
    cursor: pointer;
    /* background: #cf7894; */
    background: linear-gradient(to left, #01063d, black);
    margin-right: 100%;
    margin-top: 20px;
    width: 50%;
    display: flex;
    flex-basis: 100%;
}
label{
    color: white;
}
.submit{
    transition: transform 0.5s;
}
.submit:hover{
    color: #93b3c9;
    background-color: #757779;
    transform: rotateY(60deg);
}
h5{
    color: #93b3c9;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    position: relative;
}
h5::after{
    content: '';
    width: 0;
    height: 3px;
    background: #f05c8b;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
h5:hover::after{
width: 50%;
}
.plan-list1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;   
}
.plan{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.plan img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.plan:hover img{
    transform: scale(1.1);
}
.bill{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #eeb5c7);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: 0.5s;
}
.bill h3{
font-weight: 800;
margin-bottom: 20px;
color: #93b3c9;
}
.plan:hover .bill{
    height: 100%;
}
.bill p{
    color: #fff;
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 20px;
}
#entry{
    color: #c50d04;
    font-size: 40px;
}



@media (max-width: 575.98px) { 
    .footer{
        /* background-color: #8f94fb;
        width: 100%;
        height: 100%;
        font-family: 'Courier New', Courier, monospace;
        font-size: small;
        line-height: normal; */
        text-align: center;
    }
}